<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>코딩테스트 질문글 수정</title>
    <link href="../../static/css/fragments/footer.css" th:href="@{/css/fragments/footer.css}" rel="stylesheet" type="text/css"/>
    <link href="../../static/css/form.css" th:href="@{/css/form.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
    <link href="../../static/css/fragments/header.css" th:href="@{/css/fragments/header.css}"
          rel="stylesheet"
          type="text/css"/>
    <link href="../../static/css/codingtest/header.css" th:href="@{/css/codingtest/header.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:replace="~{fragments/header.html::header}"></div>
<main class="cont-main">
    <input class="post-id hidden" th:value="${cote.id}" />
    <form action="/codingtest/post" method="post" class="coteForm" onsubmit="return false;" th:object="${cote}">

        <input class="user-id hidden" th:field="*{userId}"/>

        <div class="title-container">
            <textarea class="title" placeholder="질문 제목을 작성해주세요."
                      rows="1" th:field="*{title}"></textarea>
            <div class="title-text-count"></div>
        </div>

        <div class="input-container">
            <div class="quiz-container">
                <div class="quiz-text-count"></div>
                <div class="cote-content"></div>
            </div>
        </div>
        <div class="button-container">
            <button class="cancel-button">취소</button>
            <button class="edit-button">수정</button>
            <button class="submit-button hidden">등록</button>
        </div>
    </form>
</main>

<div th:replace="~{fragments/footer.html::footer}"></div>

<script th:inline="javascript">
    let coteContent=[[${cote.contents}]];
</script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script th:src="@{/Js/wordCount.js}"></script>
<script th:src="@{/Js/form.js}"></script>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script th:src="@{/Js/codingTest/toastApi.js}"></script>
<script th:src="@{/Js/codingTest/ajaxCreateUpdateRequest.js}"></script>
</body>
</html>