<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>퀴즈 작성</title>
    <link href="../../static/css/codingtest/coteForm.css" th:href="@{/css/form.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
</head>
<body>
<header></header>
<main class="cont-main">
    <form action="/codingtest/post" method="post" class="coteForm" onsubmit="return false;" th:object="${cote}">
        <div class="title-container">
            <textarea class="title" placeholder="질문 제목을 작성해주세요." rows="1" onkeyup="autoResize(this)"
                      onkeydown="autoResize(this)" th:field="*{title}"></textarea>
            <div class="title-text-count"></div>
        </div>
        <div class="input-container">
            <div class="cote-container">
                <div class="quiz-text-count"></div>
                <div class="cote-content"></div>
            </div>
        </div>
        <div class="button-container">
            <button class="cancel-button">취소</button>
            <button class="submit-button">등록</button>
            <button class="edit-button hidden">수정</button>
        </div>
    </form>
</main>
<footer></footer>

<script th:inline="javascript">
    let coteContent="";
</script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script th:src="@{/Js/wordCount.js}"></script>
<script th:src="@{/Js/form.js}"></script>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script th:src="@{/Js/codingTest/toastApi.js}"></script>
<script th:src="@{/Js/codingTest/ajaxCreateUpdateRequest.js}"></script>
</body>
</html>