<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DoumiCoteMain</title>
  <link href="../../static/css/fragments/header.css" th:href="@{/css/fragments/header.css}"
        rel="stylesheet"
        type="text/css"/>
  <link href="../../static/css/codingtest/index.css" th:href="@{/css/codingtest/index.css}"
        rel="stylesheet" type="text/css"/>
</head>
<body>

<div th:replace="~{fragments/header.html::header}"></div>

<main class="doumi_main">
  <a href="/codingtest/post" class="cote_question">코딩테스트 질문하기 ➡</a>
  <form class="form" action="/codingtest/search">
    <div class="search_form">
                <span class="search_image">
                    <img src="/images/search.png" width="17px">
                </span>
      <label for="search"></label>
      <input class="input" type="text" required="" placeholder="제목,내용 검색하기" id="search"
             name="keyword">
    </div>
  </form>
  <div class="table_container">
    <li class="cote_container_header">
      <div class="sequence">번호</div>
      <div class="title">제목</div>
      <div class="author">작성자</div>
      <div class="create_time">작성일</div>
      <div class="like">추천</div>
    </li>
    <!--            서버로 받은 post 컬렉션에 반복문을돌려 각 게시글에 정보를 테이블 행으로 생성한다-->
    <ul th:each="cote:${cotes}">
      <li class="cote_container">
        <div class="sequence" th:text="${cote.id}"></div>
        <div class="title">
          <a th:href="@{'/codingtest/board?id=' + ${cote.id}}" th:text="${cote.title}">게시글 제목</a>
        </div>
        <div class="author" th:text="${cote.userId}">작성자</div>
        <div class="create_time" th:text="${#dates.format(cote.createdAt, 'yyyy/MM/dd HH:mm')}">
          작성일
        </div>
        <div class="likes" th:text="${cote.likeCount}"></div>
      </li>
    </ul>
  </div>
  <!--        페이지 링크-->
  <nav class="page">
    <ul class="page_list" th:unless="${cotes.isEmpty()}">
      <li class="page_link" th:unless="${startIdx == 1}">
        <a th:href="@{/templates/codingTest/search(keyword = ${keyword}, page = 1)}">처음</a>
      </li>
      <li class="page_link" th:unless="${startIdx == 1}">
        <a th:href="@{/templates/codingTest/search(keyword = ${keyword}, page = ${startIdx - 1})}"><<</a>
      </li>
      <li th:each="page : ${#numbers.sequence(startIdx, endIdx)}"
          th:class="${page == currentPage} ? 'page_current' : 'page_link'">
        <a th:href="@{/templates/codingTest/search(keyword = ${keyword}, page = ${page})}"
           th:text="${page}"></a>
      </li>
      <li class="page_link" th:unless="${endIdx == totalPages}">
        <a th:href="@{/templates/codingTest/search(keyword = ${keyword}, page = ${endIdx + 1})}">>></a>
      </li>
      <li class="page_link" th:unless="${endIdx == totalPages}">
        <a th:href="@{/templates/codingTest/search(keyword = ${keyword}, page = ${totalPages})}">마지막</a>
      </li>
    </ul>
  </nav>
</main>
</body>
</html>