<li class="quiz_container_header">
  <div class="sequence">번호</div>
  <div class="title">제목</div>
  <div class="author">작성자</div>
  <div class="create_time">작성일</div>
  <div class="like">추천</div>
</li>

<ul th:fragment="list_of_codingtest" class="list_of_codingtest" th:each="cote:${coteList}">
  <li class="quiz_container">
    <div class="sequence" th:text="${cote.id}"></div>
    <div class="title">
      <a th:href="@{'/codingtest/board?id=' + ${cote.id}}" th:text="${cote.title}">게시글 제목</a>
    </div>
    <div class="author" th:text="${userName}">작성자</div>
    <div class="create_time" th:text="${#dates.format(cote.createdAt, 'yyyy/MM/dd HH:mm')}">
      작성일
    </div>
    <div class="likes" th:text="${cote.likeCount}"></div>
  </li>
</ul>

<nav class="page">
  <ul class="page_list" th:unless="${coteList.isEmpty()}">
    <li class="page_link" th:unless="${startIdx == 1}">
      <a th:href="@{'/user/'+${userId}+'/codingtest/posts?page=1'}">처음</a>
    </li>
    <li class="page_link" th:unless="${startIdx == 1}">
      <a th:href="@{'/user/' + ${userId} + '/codingtest/posts(page=' + (${startIdx - 1}) + ')'}"><<</a>
    </li>
    <li th:each="page : ${#numbers.sequence(startIdx, endIdx)}"
        th:class="${page == currentPage} ? 'page_current' : 'page_link'">
      <a th:href="@{'/user/' + ${userId} + '/codingtest/posts?page=' + ${page}}" th:text="${page}"></a>
    </li>
    <li class="page_link" th:unless="${endIdx == totalPages}">
      <a th:href="@{'/user/' + ${userId} + '/codingtest/posts?page=' + (${endIdx + 1})}">>></a>
    </li>
    <li class="page_link" th:unless="${endIdx == totalPages}">
      <a th:href="@{'/user/' + ${userId} + '/codingtest/posts?page=' + ${totalPages}}">마지막</a>
    </li>
  </ul>
</nav>