<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>MyPage</title>
  <link href="../../static/css/fragments/footer.css" th:href="@{/css/fragments/footer.css}"
        rel="stylesheet" type="text/css"/>
  <link href="/css/fragments/header.css" th:href="@{/css/fragments/header.css}"
        rel="stylesheet"
        type="text/css"/>
  <link href="/css/myPage.css" th:href="@{/css/myPage.css}" rel="stylesheet"
        type="text/css"/>
</head>
<body>

<div th:replace="~{fragments/header.html::header}"></div>

<main class="myPage_main">
  <aside class="myPage_leftSide">

    <nav>
      <h2 id="myPage_userName" th:text="${userName}" th:data-userId="${userId}">
        userIdUnder20character</h2>
      <ul class="user_wrote_list">
        <li class="cote_question">
          <span class="dot">•</span>
          <a class="cote_type" id="coteType"
             th:href="@{/user/{userId}/codingtest/posts(userId =${userId})}">코딩 테스트 질문</a>
        </li>
        <li class="quiz_question">
          <span class="dot">•</span>
          <a class="quiz_type" id="quizType"
             th:href="@{/user/{userId}/quiz/posts(userId =${userId})}">퀴즈 게시물</a>
        </li>
        <li class="comment">
          <span class="dot">•</span>
          <a class="comment_type" id="commentType"
             th:href="@{/user/{userId}/comment/posts(userId =${userId})}">댓글</a>
        </li>
      </ul>
    </nav>
  </aside>
</main>

<div th:replace="~{fragments/footer.html::footer}"></div>

<script src="../../static/Js/header.js" th:src="@{/Js/header.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>