<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>MyPage</title>
  <link href="/css/fragments/header.css" th:href="@{/css/fragments/header.css}"
        rel="stylesheet"
        type="text/css"/>
  <link href="/css/myPage.css" th:href="@{/css/myPage.css}" rel="stylesheet"
        type="text/css"/>
</head>
<body>

<div th:replace="~{fragments/header.html::header}"></div>

<main class="myPage_main">
  <aside class="myPage_leftSide">

    <nav>
      <h2 id="myPage_userName" th:text="${userName}" th:data-userId="${userId}">
        userIdUnder20character</h2>
      <ul class="user_wrote_list">
        <li class="cote_question">
          <span class="dot">•</span>
          <span class="cote_type" onclick="clickToGoMyCodingtestPost()">코딩 테스트 질문</span>
        </li>
        <li class="quiz_question">
          <span class="dot">•</span>
          <span class="quiz_type" onclick="clickToGoMyQuizPost()">퀴즈 게시물</span>
        </li>
        <li class="comment">
          <span class="dot">•</span>
          <span class="comment_type" onclick="clickToGoMyCommentPost()">댓글</span>
        </li>
      </ul>
    </nav>
  </aside>
  <!--  기존에 있던 container 재활용-->
  <div class="show_user_wrote">
    <div class="table_container">
      <li class="quiz_container_header">
        <div class="sequence">번호</div>
        <div class="title">제목</div>
        <div class="author">작성자</div>
        <div class="create_time">작성일</div>
        <div class="like">추천</div>
      </li>
      <ul class="postList"></ul>
    </div>

    <!--        페이지 링크-->
    <!--    <nav class="page">-->
    <!--      <ul class="page_list" th:unless="${quizs.isEmpty()}">-->
    <!--        <li class="page_link" th:unless="${startIdx == 1}">-->
    <!--          <a th:href="@{/quiz?page=1}">처음</a>-->
    <!--        </li>-->
    <!--        <li class="page_link" th:unless="${startIdx == 1}">-->
    <!--          <a th:href="@{/quiz(page = ${startIdx - 1})}"><<</a>-->
    <!--        </li>-->
    <!--        <li th:each="page : ${#numbers.sequence(startIdx, endIdx)}"-->
    <!--            th:class="${page == currentPage} ? 'page_current' : 'page_link'">-->
    <!--          <a th:href="@{/quiz(page = ${page})}" th:text="${page}"></a>-->
    <!--        </li>-->
    <!--        <li class="page_link" th:unless="${endIdx == totalPages}">-->
    <!--          <a th:href="@{/quiz(page = ${endIdx + 1})}">>></a>-->
    <!--        </li>-->
    <!--        <li class="page_link" th:unless="${endIdx == totalPages}">-->
    <!--          <a th:href="@{/quiz(page = ${totalPages})}">마지막</a>-->
    <!--        </li>-->
    <!--      </ul>-->
    <!--    </nav>-->
  </div>

</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../../static/Js/myPage.js" th:src="@{/Js/myPage.js}"></script>
</body>
</html>