<li class="quiz_container_header">
  <div class="sequence">번호</div>
  <div class="contents">댓글 내용</div>
  <div class="author">작성자</div>
  <div class="update_time">최근 수정일</div>
</li>

<ul th:fragment="list_of_comment" class="list_of_comment" th:each="comment:${contents}">
  <li class="quiz_container">
    <div class="sequence" th:text="${comment.postId}"></div>
    <div class="contents">
      <!--      -->
      <a th:if="${comment.type eq 'QUIZ'}" th:href="@{'/quiz/board?id=' + ${comment.postId}}"
         th:text="${comment.contents}">댓글 내용</a>
      <a th:if="${comment.type eq 'COTE'}" th:href="@{'/codingtest/board?id=' + ${comment.postId}}"
         th:text="${comment.contents}">댓글 내용</a>
    </div>
    <div class="author" th:text="${userName}">작성자</div>
    <div class="update_time" th:text="${#dates.format(comment.updatedAt, 'yyyy/MM/dd HH:mm')}">
      최근 수정일
    </div>
  </li>
</ul>

<nav class="page">
  <ul class="page_list" th:unless="${contents.isEmpty()}">
    <li class="page_link" th:unless="${startIdx == 1}">
      <a th:href="@{'/user/'+${userId}+'/comment/posts?page=1'}">처음</a>
    </li>
    <li class="page_link" th:unless="${startIdx == 1}">
      <a th:href="@{'/user/' + ${userId} + '/comment/posts(page=' + (${startIdx - 1}) + ')'}"><<</a>
    </li>
    <li th:each="page : ${#numbers.sequence(startIdx, endIdx)}"
        th:class="${page == currentPage} ? 'page_current' : 'page_link'">
      <a th:href="@{'/user/' + ${userId} + '/comment/posts?page=' + ${page}}" th:text="${page}"></a>
    </li>
    <li class="page_link" th:unless="${endIdx == totalPages}">
      <a th:href="@{'/user/' + ${userId} + '/comment/posts?page=' + (${endIdx + 1})}">>></a>
    </li>
    <li class="page_link" th:unless="${endIdx == totalPages}">
      <a th:href="@{'/user/' + ${userId} + '/comment/posts?page=' + ${totalPages}}">마지막</a>
    </li>
  </ul>
</nav>