html, body {
  margin: 0;
  padding: 0;
}

.doumi_header {
  display: flex;
  justify-content: center;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}

.shadow {
  box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.05);
}

.box-header {
  display: flex;
  align-items: center;
  width: 900px;
}

.logo {
  white-space: nowrap; /*h1 내용이 줄바꿈되지 않도록 설정*/
  flex-shrink: 0; /*h1 크리가 축소되지 않도록 설정*/
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  margin-left: 3vw;
  width: 100%;
}

.navbar-left, .navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}


.logout_btn {
  padding: 10px;
  font-size: 1rem;
  line-height: 1.5;
  color: #363636;
  cursor: pointer;
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
}

.user_info {
  display: flex;
  gap: 50px;
}

.move_to_algorithm:hover, .move_to_quiz:hover, .move_to_codingtest:hover {
  color: #04B45F;
  font-weight: 700;
}

.logout_btn {
  color: #FFFFFF;
  background-color: #04B45F;
}

.logout_btn:hover {
  background-color: #04B45F;
  filter: brightness(90%);
}

.user_info strong:hover {
  color: #04B45F;
  font-weight: bold;
}
