<footer th:fragment="footer" class="doumi-footer">
    <div class="footer-wrapper">
        <div class="boot-camp-info">
            <img src="../../static/images/oreumi_logo.jpg"
                 th:src="@{/images/oreumi_logo.jpg}" alt="이스트 소프트 로고" class="footer-img">
            <span>© 2024 Doumi, Inc.</span>
        </div>
        <div class="helper">
        <span class="tool-tip" title="강성훈 깃허브">
            <a href="https://github.com/fernandokkang" class="link-github-page">
                <img src="../../static/images/icon_github.png"
                     th:src="@{/images/icon_github.png}" alt="깃허브" class="footer-img">
            </a>
        </span>

            <span class="tool-tip" title="정지원 깃허브">
            <a href="https://github.com/dhktjr0204" class="link-github-page">
                <img src="../../static/images/icon_github.png"
                     th:src="@{/images/icon_github.png}" alt="깃허브" class="footer-img">
            </a>
        </span>

            <span class="tool-tip" title="강한주 깃허브">
            <a href="https://github.com/kanghanju" class="link-github-page">
                <img src="../../static/images/icon_github.png"
                     th:src="@{/images/icon_github.png}" alt="깃허브" class="footer-img">
            </a>
        </span>
        </div>
    </div>
</footer>