<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>MyPage</title>
  <link href="/static/css/fragments/header.css" th:href="@{/css/fragments/header.css}"
        rel="stylesheet"
        type="text/css"/>
  <link href="/static/css/myPage.css" th:href="@{/css/myPage.css}" rel="stylesheet"
        type="text/css"/>
  <script src="../../static/Js/myPage.js" th:src="@{/Js/myPage.js}"></script>
</head>
<body>

<div th:replace="~{fragments/header.html::header}"></div>

<main class="myPage_main">
  <aside class="myPage_leftSide">

    <nav>
      <h2 class="mypage_userName" th:text="${userName}">userIdUnder20character</h2>
      <ul class="user_wrote_list">
        <li class="cote_question"><a id="linkQuestions" href="#">
          <span class="dot">•</span>
          <span>코딩 테스트 질문</span>
        </a></li>
        <li class="quiz_question"><a id="linkQuizzes" href="#">
          <span class="dot">•</span>
          <span>퀴즈 게시물</span>
        </a></li>
        <li class="comment"><a id="linkComments" href="#">
          <span class="dot">•</span>
          <span>댓글</span>
        </a></li>
      </ul>
    </nav>
  </aside>
  <!--  기존에 있던 container 재활용-->
  <div class="show_user_wrote">
    <div class="table_container">
      <li class="quiz_container_header">
        <div class="sequence">번호</div>
        <div class="title">제목</div>
        <div class="author">작성자</div>
        <div class="create_time">작성일</div>
        <div class="like">추천</div>
      </li>
      <!--            서버로 받은 post 컬렉션에 반복문을돌려 각 게시글에 정보를 테이블 행으로 생성한다-->
      <ul class="postList" th:each="cote:${cotes}">
        <li class="quiz_container">
          <div class="sequence" th:text="${cote.id}"></div>
          <div class="title">
            <!--                    href에 무슨링크를 넣어야하지?-->
            <a th:href="@{'/quiz/board?id=' + ${cote.id}}" th:text="${cote.title}">게시글 제목</a>
          </div>
          <div class="author" th:text="${cote.userId}">작성자</div>
          <div class="create_time" th:text="${#dates.format(cote.createdAt, 'yyyy/MM/dd HH:mm')}">
            작성일
          </div>
          <div class="likes" th:text="${cote.likeCount}"></div>
        </li>

        <!--        테스트 -->
        <li class="quiz_container">
          <div class="sequence" th:text="${cote.id}"></div>
          <div class="title">
            <!--                    href에 무슨링크를 넣어야하지?-->
            <a th:href="@{'/quiz/board?id=' + ${cote.id}}" th:text="${cote.title}">게시글 제목</a>
          </div>
          <div class="author" th:text="${cote.userId}">작성자</div>
          <div class="create_time" th:text="${#dates.format(cote.createdAt, 'yyyy/MM/dd HH:mm')}">
            작성일
          </div>
          <div class="likes" th:text="${cote.likeCount}"></div>
        </li>
        <li class="quiz_container">
          <div class="sequence" th:text="${cote.id}"></div>
          <div class="title">
            <!--                    href에 무슨링크를 넣어야하지?-->
            <a th:href="@{'/quiz/board?id=' + ${cote.id}}" th:text="${cote.title}">게시글 제목</a>
          </div>
          <div class="author" th:text="${cote.userId}">작성자</div>
          <div class="create_time" th:text="${#dates.format(cote.createdAt, 'yyyy/MM/dd HH:mm')}">
            작성일
          </div>
          <div class="likes" th:text="${cote.likeCount}"></div>
        </li>
      </ul>
    </div>

    <!--        페이지 링크-->
    <!--    <nav class="page">-->
    <!--      <ul class="page_list" th:unless="${quizs.isEmpty()}">-->
    <!--        <li class="page_link" th:unless="${startIdx == 1}">-->
    <!--          <a th:href="@{/quiz?page=1}">처음</a>-->
    <!--        </li>-->
    <!--        <li class="page_link" th:unless="${startIdx == 1}">-->
    <!--          <a th:href="@{/quiz(page = ${startIdx - 1})}"><<</a>-->
    <!--        </li>-->
    <!--        <li th:each="page : ${#numbers.sequence(startIdx, endIdx)}"-->
    <!--            th:class="${page == currentPage} ? 'page_current' : 'page_link'">-->
    <!--          <a th:href="@{/quiz(page = ${page})}" th:text="${page}"></a>-->
    <!--        </li>-->
    <!--        <li class="page_link" th:unless="${endIdx == totalPages}">-->
    <!--          <a th:href="@{/quiz(page = ${endIdx + 1})}">>></a>-->
    <!--        </li>-->
    <!--        <li class="page_link" th:unless="${endIdx == totalPages}">-->
    <!--          <a th:href="@{/quiz(page = ${totalPages})}">마지막</a>-->
    <!--        </li>-->
    <!--      </ul>-->
    <!--    </nav>-->
  </div>

</main>
</body>
</html>