<ul th:fragment="list_of_comment" class="list_of_comment" th:each="comment:${commentList}">
  <li class="post_container">
    <div class="sequence" th:text="${comment.id}"></div>
    <div class="title">
      <!--      -->
      <a th:href="@{'/quiz/board?id=' + ${comment.id}}" th:text="${comment.title}">게시글 제목</a>
    </div>
    <div class="author" th:text="${userName}">작성자</div>
    <div class="create_time" th:text="${#dates.format(comment.createdAt, 'yyyy/MM/dd HH:mm')}">
      작성일
    </div>
    <div class="likes" th:text="${comment.likeCount}"></div>
  </li>
</ul>