<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DoumiCoteMain</title>
  <link href="../../static/css/fragments/footer.css" th:href="@{/css/fragments/footer.css}" rel="stylesheet" type="text/css"/>
  <link href="../../static/css/fragments/header.css" th:href="@{/css/fragments/header.css}"
        rel="stylesheet"
        type="text/css"/>
  <link href="../../static/css/codingtest/doumiAlgorithm.css"
        th:href="@{/css/codingtest/doumiAlgorithm.css}" rel="stylesheet" type="text/css"/>
</head>
<body>

<div th:replace="~{fragments/header.html::header}"></div>

<main class="doumi_main">
  <a href="/codingtest/index">
    <button type="button" class="codingtest_question">질문 게시판으로 이동 ></button>
  </a>
  <div class="table_container">
    <li class="cote_container_header">
      <div class="sequence">번호</div>
      <div class="title">제목</div>
      <div class="author">작성자</div>
      <div class="create_time">작성일</div>
    </li>
    <li class="cote_container_header">
      <div class="sequence">1</div>
      <div class="title">
        <a href="/codingtest/timecomplexity">시간 복잡도</a>
      </div>
      <div class="author">도우미</div>
      <div class="create_time">2024-02-25</div>
    </li>
    <li class="cote_container_header">
      <div class="sequence">2</div>
      <div class="title">
        <a href="/codingtest/stack">스택과 큐</a>
      </div>
      <div class="author">도우미</div>
      <div class="create_time">2024-03-16</div>
    </li>
  </div>
</main>

<div th:replace="~{fragments/footer.html::footer}"></div>

<script src="../../static/Js/header.js" th:src="@{/Js/header.js}"></script>

</body>
</html>